@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');

body {
    background: linear-gradient(to right, royalblue, darkblue);
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}

#calculadora {
    max-width: 176px;
    height: 310px;
    margin: auto;
    background-color: gray;
    border: 5px solid whitesmoke;
    padding: 15px 10px;
    border-radius: 20px;
}

.pantalla {
    align-items: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1px 5px;

    word-wrap: break-word;
    word-break: break-all;
  
    width: 158px;
    height: 75px;
    border: 2px inset;
    border-radius: 10px;
    font-family: 'DM Sans', sans-serif;
    text-align: right;
    margin-bottom: 10px;
    background-color: white;
}

.pantalla .operacionAnterior {
    color: rgba(0, 0, 0, 75%);
    font-size: 1.5rem;
    height: 1.5rem;
}

.pantalla .operacionActual {
    color: black;
    font-size: 2.5rem;
    height: 2.5rem;
}

.botones div {
    width: 34px;
    text-align: center;
    color: white;
    line-height: 34px;
    border: 3px solid white;
    border-radius: 50%;
    border-style: outset;
    float: left;
    margin: 2px;
    background: rgba(0, 0, 0, 75%);
    cursor: pointer;
    outline: none;
}

#doble {
    width: 78px;
    border-radius: 25px;
}

.botones div::selection{
    background: rgba(1, 1, 1, 0%);
}

.botones div:active {
    border-style: inset;
    background-color: rgba(0, 0, 0, 50%);
}

.botones div:hover {
    border-style: inset;
    background-color: rgba(0, 0, 0, 90%);
}

p {
    font-size: large;
    color: white;
}